## Importing Libraries

In [1]:
!pip install streamlit
!pip install streamlit-option-menu

Requirement already satisfied: streamlit in b:\project\env\lib\site-packages (1.26.0)
Requirement already satisfied: altair<6,>=4.0 in b:\project\env\lib\site-packages (from streamlit) (5.3.0)
Requirement already satisfied: blinker<2,>=1.0.0 in b:\project\env\lib\site-packages (from streamlit) (1.8.1)
Requirement already satisfied: cachetools<6,>=4.0 in b:\project\env\lib\site-packages (from streamlit) (5.3.3)
Requirement already satisfied: click<9,>=7.0 in b:\project\env\lib\site-packages (from streamlit) (8.1.7)
Requirement already satisfied: importlib-metadata<7,>=1.4 in b:\project\env\lib\site-packages (from streamlit) (6.11.0)
Requirement already satisfied: numpy<2,>=1.19.3 in b:\project\env\lib\site-packages (from streamlit) (1.24.4)
Requirement already satisfied: packaging<24,>=16.8 in b:\project\env\lib\site-packages (from streamlit) (23.2)
Requirement already satisfied: pandas<3,>=1.3.0 in b:\project\env\lib\site-packages (from streamlit) (2.0.3)
Requirement already satisfied: pillow<10,>=7.1.0 in b:\project\env\lib\site-packages (from streamlit) (9.5.0)
Requirement already satisfied: protobuf<5,>=3.20 in b:\project\env\lib\site-packages (from streamlit) (4.25.3)
Requirement already satisfied: pyarrow>=6.0 in b:\project\env\lib\site-packages (from streamlit) (16.0.0)
Requirement already satisfied: pympler<2,>=0.9 in b:\project\env\lib\site-packages (from streamlit) (1.0.1)
Requirement already satisfied: python-dateutil<3,>=2.7.3 in b:\project\env\lib\site-packages (from streamlit) (2.9.0.post0)
Requirement already satisfied: requests<3,>=2.18 in b:\project\env\lib\site-packages (from streamlit) (2.31.0)
Requirement already satisfied: rich<14,>=10.14.0 in b:\project\env\lib\site-packages (from streamlit) (13.7.1)
Requirement already satisfied: tenacity<9,>=8.1.0 in b:\project\env\lib\site-packages (from streamlit) (8.2.3)
Requirement already satisfied: toml<2,>=0.10.1 in b:\project\env\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.1.0 in b:\project\env\lib\site-packages (from streamlit) (4.11.0)
Requirement already satisfied: tzlocal<5,>=1.1 in b:\project\env\lib\site-packages (from streamlit) (4.3.1)
Requirement already satisfied: validators<1,>=0.2 in b:\project\env\lib\site-packages (from streamlit) (0.28.1)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in b:\project\env\lib\site-packages (from streamlit) (3.1.43)
Requirement already satisfied: pydeck<1,>=0.8 in b:\project\env\lib\site-packages (from streamlit) (0.9.0)
Requirement already satisfied: tornado<7,>=6.0.3 in b:\project\env\lib\site-packages (from streamlit) (6.4)
Requirement already satisfied: watchdog>=2.1.5 in b:\project\env\lib\site-packages (from streamlit) (4.0.0)
Requirement already satisfied: jinja2 in b:\project\env\lib\site-packages (from altair<6,>=4.0->streamlit) (3.1.3)
Requirement already satisfied: jsonschema>=3.0 in b:\project\env\lib\site-packages (from altair<6,>=4.0->streamlit) (4.22.0)
Requirement already satisfied: toolz in b:\project\env\lib\site-packages (from altair<6,>=4.0->streamlit) (0.12.1)
Requirement already satisfied: colorama in b:\project\env\lib\site-packages (from click<9,>=7.0->streamlit) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in b:\project\env\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.11)
Requirement already satisfied: zipp>=0.5 in b:\project\env\lib\site-packages (from importlib-metadata<7,>=1.4->streamlit) (3.18.1)
Requirement already satisfied: pytz>=2020.1 in b:\project\env\lib\site-packages (from pandas<3,>=1.3.0->streamlit) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in b:\project\env\lib\site-packages (from pandas<3,>=1.3.0->streamlit) (2024.1)
Requirement already satisfied: six>=1.5 in b:\project\env\lib\site-packages (from python-dateutil<3,>=2.7.3->streamlit) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in b:\project\env\lib\site-packages (from requests<3,>=2.18->streamlit) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in b:\project\env\lib\site-packages (from requests<3,>=2.18->streamlit) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in b:\project\env\lib\site-packages (from requests<3,>=2.18->streamlit) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in b:\project\env\lib\site-packages (from requests<3,>=2.18->streamlit) (2024.2.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in b:\project\env\lib\site-packages (from rich<14,>=10.14.0->streamlit) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in b:\project\env\lib\site-packages (from rich<14,>=10.14.0->streamlit) (2.18.0)
Requirement already satisfied: pytz-deprecation-shim in b:\project\env\lib\site-packages (from tzlocal<5,>=1.1->streamlit) (0.1.0.post0)
Requirement already satisfied: backports.zoneinfo in b:\project\env\lib\site-packages (from tzlocal<5,>=1.1->streamlit) (0.2.1)
Requirement already satisfied: smmap<6,>=3.0.1 in b:\project\env\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.1)
Requirement already satisfied: MarkupSafe>=2.0 in b:\project\env\lib\site-packages (from jinja2->altair<6,>=4.0->streamlit) (2.1.5)
Requirement already satisfied: attrs>=22.2.0 in b:\project\env\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (23.2.0)
Requirement already satisfied: importlib-resources>=1.4.0 in b:\project\env\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (6.4.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in b:\project\env\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2023.12.1)
Requirement already satisfied: pkgutil-resolve-name>=1.3.10 in b:\project\env\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (1.3.10)
Requirement already satisfied: referencing>=0.28.4 in b:\project\env\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in b:\project\env\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.18.0)
Requirement already satisfied: mdurl~=0.1 in b:\project\env\lib\site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.2)
Requirement already satisfied: streamlit-option-menu in b:\project\env\lib\site-packages (0.3.12)
Requirement already satisfied: streamlit>=0.63 in b:\project\env\lib\site-packages (from streamlit-option-menu) (1.26.0)
Requirement already satisfied: altair<6,>=4.0 in b:\project\env\lib\site-packages (from streamlit>=0.63->streamlit-option-menu) (5.3.0)
Requirement already satisfied: blinker<2,>=1.0.0 in b:\project\env\lib\site-packages (from streamlit>=0.63->streamlit-option-menu) (1.8.1)
Requirement already satisfied: cachetools<6,>=4.0 in b:\project\env\lib\site-packages (from streamlit>=0.63->streamlit-option-menu) (5.3.3)
Requirement already satisfied: click<9,>=7.0 in b:\project\env\lib\site-packages (from streamlit>=0.63->streamlit-option-menu) (8.1.7)
Requirement already satisfied: importlib-metadata<7,>=1.4 in b:\project\env\lib\site-packages (from streamlit>=0.63->streamlit-option-menu) (6.11.0)
Requirement already satisfied: numpy<2,>=1.19.3 in b:\project\env\lib\site-packages (from streamlit>=0.63->streamlit-option-menu) (1.24.4)
Requirement already satisfied: packaging<24,>=16.8 in b:\project\env\lib\site-packages (from streamlit>=0.63->streamlit-option-menu) (23.2)
Requirement already satisfied: pandas<3,>=1.3.0 in b:\project\env\lib\site-packages (from streamlit>=0.63->streamlit-option-menu) (2.0.3)
Requirement already satisfied: pillow<10,>=7.1.0 in b:\project\env\lib\site-packages (from streamlit>=0.63->streamlit-option-menu) (9.5.0)
Requirement already satisfied: protobuf<5,>=3.20 in b:\project\env\lib\site-packages (from streamlit>=0.63->streamlit-option-menu) (4.25.3)
Requirement already satisfied: pyarrow>=6.0 in b:\project\env\lib\site-packages (from streamlit>=0.63->streamlit-option-menu) (16.0.0)
Requirement already satisfied: pympler<2,>=0.9 in b:\project\env\lib\site-packages (from streamlit>=0.63->streamlit-option-menu) (1.0.1)
Requirement already satisfied: python-dateutil<3,>=2.7.3 in b:\project\env\lib\site-packages (from streamlit>=0.63->streamlit-option-menu) (2.9.0.post0)
Requirement already satisfied: requests<3,>=2.18 in b:\project\env\lib\site-packages (from streamlit>=0.63->streamlit-option-menu) (2.31.0)
Requirement already satisfied: rich<14,>=10.14.0 in b:\project\env\lib\site-packages (from streamlit>=0.63->streamlit-option-menu) (13.7.1)
Requirement already satisfied: tenacity<9,>=8.1.0 in b:\project\env\lib\site-packages (from streamlit>=0.63->streamlit-option-menu) (8.2.3)
Requirement already satisfied: toml<2,>=0.10.1 in b:\project\env\lib\site-packages (from streamlit>=0.63->streamlit-option-menu) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.1.0 in b:\project\env\lib\site-packages (from streamlit>=0.63->streamlit-option-menu) (4.11.0)
Requirement already satisfied: tzlocal<5,>=1.1 in b:\project\env\lib\site-packages (from streamlit>=0.63->streamlit-option-menu) (4.3.1)
Requirement already satisfied: validators<1,>=0.2 in b:\project\env\lib\site-packages (from streamlit>=0.63->streamlit-option-menu) (0.28.1)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in b:\project\env\lib\site-packages (from streamlit>=0.63->streamlit-option-menu) (3.1.43)
Requirement already satisfied: pydeck<1,>=0.8 in b:\project\env\lib\site-packages (from streamlit>=0.63->streamlit-option-menu) (0.9.0)
Requirement already satisfied: tornado<7,>=6.0.3 in b:\project\env\lib\site-packages (from streamlit>=0.63->streamlit-option-menu) (6.4)
Requirement already satisfied: watchdog>=2.1.5 in b:\project\env\lib\site-packages (from streamlit>=0.63->streamlit-option-menu) (4.0.0)
Requirement already satisfied: jinja2 in b:\project\env\lib\site-packages (from altair<6,>=4.0->streamlit>=0.63->streamlit-option-menu) (3.1.3)
Requirement already satisfied: jsonschema>=3.0 in b:\project\env\lib\site-packages (from altair<6,>=4.0->streamlit>=0.63->streamlit-option-menu) (4.22.0)
Requirement already satisfied: toolz in b:\project\env\lib\site-packages (from altair<6,>=4.0->streamlit>=0.63->streamlit-option-menu) (0.12.1)
Requirement already satisfied: colorama in b:\project\env\lib\site-packages (from click<9,>=7.0->streamlit>=0.63->streamlit-option-menu) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in b:\project\env\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit>=0.63->streamlit-option-menu) (4.0.11)
Requirement already satisfied: zipp>=0.5 in b:\project\env\lib\site-packages (from importlib-metadata<7,>=1.4->streamlit>=0.63->streamlit-option-menu) (3.18.1)
Requirement already satisfied: pytz>=2020.1 in b:\project\env\lib\site-packages (from pandas<3,>=1.3.0->streamlit>=0.63->streamlit-option-menu) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in b:\project\env\lib\site-packages (from pandas<3,>=1.3.0->streamlit>=0.63->streamlit-option-menu) (2024.1)
Requirement already satisfied: six>=1.5 in b:\project\env\lib\site-packages (from python-dateutil<3,>=2.7.3->streamlit>=0.63->streamlit-option-menu) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in b:\project\env\lib\site-packages (from requests<3,>=2.18->streamlit>=0.63->streamlit-option-menu) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in b:\project\env\lib\site-packages (from requests<3,>=2.18->streamlit>=0.63->streamlit-option-menu) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in b:\project\env\lib\site-packages (from requests<3,>=2.18->streamlit>=0.63->streamlit-option-menu) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in b:\project\env\lib\site-packages (from requests<3,>=2.18->streamlit>=0.63->streamlit-option-menu) (2024.2.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in b:\project\env\lib\site-packages (from rich<14,>=10.14.0->streamlit>=0.63->streamlit-option-menu) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in b:\project\env\lib\site-packages (from rich<14,>=10.14.0->streamlit>=0.63->streamlit-option-menu) (2.18.0)
Requirement already satisfied: pytz-deprecation-shim in b:\project\env\lib\site-packages (from tzlocal<5,>=1.1->streamlit>=0.63->streamlit-option-menu) (0.1.0.post0)
Requirement already satisfied: backports.zoneinfo in b:\project\env\lib\site-packages (from tzlocal<5,>=1.1->streamlit>=0.63->streamlit-option-menu) (0.2.1)
Requirement already satisfied: smmap<6,>=3.0.1 in b:\project\env\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit>=0.63->streamlit-option-menu) (5.0.1)
Requirement already satisfied: MarkupSafe>=2.0 in b:\project\env\lib\site-packages (from jinja2->altair<6,>=4.0->streamlit>=0.63->streamlit-option-menu) (2.1.5)
Requirement already satisfied: attrs>=22.2.0 in b:\project\env\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit>=0.63->streamlit-option-menu) (23.2.0)
Requirement already satisfied: importlib-resources>=1.4.0 in b:\project\env\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit>=0.63->streamlit-option-menu) (6.4.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in b:\project\env\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit>=0.63->streamlit-option-menu) (2023.12.1)
Requirement already satisfied: pkgutil-resolve-name>=1.3.10 in b:\project\env\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit>=0.63->streamlit-option-menu) (1.3.10)
Requirement already satisfied: referencing>=0.28.4 in b:\project\env\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit>=0.63->streamlit-option-menu) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in b:\project\env\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit>=0.63->streamlit-option-menu) (0.18.0)
Requirement already satisfied: mdurl~=0.1 in b:\project\env\lib\site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit>=0.63->streamlit-option-menu) (0.1.2)

In [4]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.4.0-cp310-cp310-manylinux_2_17_x86_64.whl (19.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.4/19.4 MB 26.1 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.4.0

In [2]:
import pandas as pd
import mysql.connector as sql
import streamlit as st
import plotly.express as px
import os
import json
from streamlit_option_menu import option_menu
from PIL import Image

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Data Extraction

# Data transformation

## Dataframe of aggregated Transactions

In [3]:
path1 = "pulse-master/data/aggregated/transaction/country/india/state/"
agg_trans_list = os.listdir(path1)

columns1 = {'State': [], 'Year': [], 'Quarter': [], 'Transaction_type': [], 'Transaction_count': [],
            'Transaction_amount': []}
for state in agg_trans_list:
    cur_state = path1 + state + "/"
    agg_year_list = os.listdir(cur_state)

    for year in agg_year_list:
        cur_year = cur_state + year + "/"
        agg_file_list = os.listdir(cur_year)

        for file in agg_file_list:
            cur_file = cur_year + file
            data = open(cur_file, 'r')
            A = json.load(data)

            for i in A['data']['transactionData']:
                name = i['name']
                count = i['paymentInstruments'][0]['count']
                amount = i['paymentInstruments'][0]['amount']
                columns1['Transaction_type'].append(name)
                columns1['Transaction_count'].append(count)
                columns1['Transaction_amount'].append(amount)
                columns1['State'].append(state)
                columns1['Year'].append(year)
                columns1['Quarter'].append(int(file.strip('.json')))

df_agg_trans = pd.DataFrame(columns1)

In [4]:
df_agg_trans.shape

(4494, 6)

## Dataframe of aggregated user

In [5]:
path2 = "pulse-master/data/aggregated/user/country/india/state/"

agg_user_list = os.listdir(path2)

columns2 = {'State': [], 'Year': [], 'Quarter': [], 'Brands': [], 'Count': [],
            'Percentage': []}
for state in agg_user_list:
    cur_state = path2 + state + "/"
    agg_year_list = os.listdir(cur_state)

    for year in agg_year_list:
        cur_year = cur_state + year + "/"
        agg_file_list = os.listdir(cur_year)

        for file in agg_file_list:
            cur_file = cur_year + file
            data = open(cur_file, 'r')
            B = json.load(data)
            try:
                for i in B["data"]["usersByDevice"]:
                    brand_name = i["brand"]
                    counts = i["count"]
                    percents = i["percentage"]
                    columns2["Brands"].append(brand_name)
                    columns2["Count"].append(counts)
                    columns2["Percentage"].append(percents)
                    columns2["State"].append(state)
                    columns2["Year"].append(year)
                    columns2["Quarter"].append(int(file.strip('.json')))
            except:
                pass
df_agg_user = pd.DataFrame(columns2)

In [6]:
df_agg_user

                          State  Year  Quarter   Brands    Count  Percentage
0     andaman-&-nicobar-islands  2018        1   Xiaomi     1665    0.247033
1     andaman-&-nicobar-islands  2018        1  Samsung     1445    0.214392
2     andaman-&-nicobar-islands  2018        1     Vivo      982    0.145697
3     andaman-&-nicobar-islands  2018        1     Oppo      501    0.074332
4     andaman-&-nicobar-islands  2018        1  OnePlus      332    0.049258
...                         ...   ...      ...      ...      ...         ...
6727                west-bengal  2022        1   Lenovo   330017    0.015056
6728                west-bengal  2022        1  Infinix   284678    0.012987
6729                west-bengal  2022        1     Asus   280347    0.012790
6730                west-bengal  2022        1    Apple   277752    0.012671
6731                west-bengal  2022        1   Others  2196334    0.100199

[6732 rows x 6 columns]

## Dataframe of map transactions

In [7]:
path3 = "pulse-master/data/map/transaction/hover/country/india/state/"

map_trans_list = os.listdir(path3)

columns3 = {'State': [], 'Year': [], 'Quarter': [], 'District': [], 'Count': [],
            'Amount': []}

for state in map_trans_list:
    cur_state = path3 + state + "/"
    map_year_list = os.listdir(cur_state)

    for year in map_year_list:
        cur_year = cur_state + year + "/"
        map_file_list = os.listdir(cur_year)

        for file in map_file_list:
            cur_file = cur_year + file
            data = open(cur_file, 'r')
            C = json.load(data)

            for i in C["data"]["hoverDataList"]:
                district = i["name"]
                count = i["metric"][0]["count"]
                amount = i["metric"][0]["amount"]
                columns3["District"].append(district)
                columns3["Count"].append(count)
                columns3["Amount"].append(amount)
                columns3['State'].append(state)
                columns3['Year'].append(year)
                columns3['Quarter'].append(int(file.strip('.json')))

df_map_trans = pd.DataFrame(columns3)

In [8]:
df_map_trans

,State,Year,Quarter,District,Count,Amount
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,442,9.316631e+05
1,andaman-&-nicobar-islands,2018,1,south andaman district,5688,1.256025e+07
2,andaman-&-nicobar-islands,2018,1,nicobars district,528,1.139849e+06
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,825,1.317863e+06
4,andaman-&-nicobar-islands,2018,2,south andaman district,9395,2.394824e+07
...,...,...,...,...,...,...
18291,west-bengal,2024,1,nadia district,42154481,7.903014e+10
18292,west-bengal,2024,1,birbhum district,24812300,4.640025e+10
18293,west-bengal,2024,1,purba medinipur district,46212626,9.237355e+10
18294,west-bengal,2024,1,maldah district,42299563,7.671603e+10
18295,west-bengal,2024,1,darjiling district,18129044,2.927784e+10

## Dataframe of map user

In [9]:
path4 = "pulse-master/data/map/user/hover/country/india/state/"

map_user_list = os.listdir(path4)

columns4 = {"State": [], "Year": [], "Quarter": [], "District": [],
            "RegisteredUser": [], "AppOpens": []}

for state in map_user_list:
    cur_state = path4 + state + "/"
    map_year_list = os.listdir(cur_state)

    for year in map_year_list:
        cur_year = cur_state + year + "/"
        map_file_list = os.listdir(cur_year)

        for file in map_file_list:
            cur_file = cur_year + file
            data = open(cur_file, 'r')
            D = json.load(data)

            for i in D["data"]["hoverData"].items():
                district = i[0]
                registereduser = i[1]["registeredUsers"]
                appOpens = i[1]['appOpens']
                columns4["District"].append(district)
                columns4["RegisteredUser"].append(registereduser)
                columns4["AppOpens"].append(appOpens)
                columns4['State'].append(state)
                columns4['Year'].append(year)
                columns4['Quarter'].append(int(file.strip('.json')))

df_map_user = pd.DataFrame(columns4)

In [10]:
df_map_user

,State,Year,Quarter,District,RegisteredUser,AppOpens
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,632,0
1,andaman-&-nicobar-islands,2018,1,south andaman district,5846,0
2,andaman-&-nicobar-islands,2018,1,nicobars district,262,0
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,911,0
4,andaman-&-nicobar-islands,2018,2,south andaman district,8143,0
...,...,...,...,...,...,...
18295,west-bengal,2024,1,nadia district,1671140,13679202
18296,west-bengal,2024,1,birbhum district,1056537,30502875
18297,west-bengal,2024,1,purba medinipur district,1655920,18688405
18298,west-bengal,2024,1,maldah district,1183956,33270738
18299,west-bengal,2024,1,darjiling district,686254,31485682

## Dataframe of top transactions

In [11]:
path5 = "pulse-master/data/top/transaction/country/india/state/"

top_trans_list = os.listdir(path5)
columns5 = {'State': [], 'Year': [], 'Quarter': [], 'Pincode': [], 'Transaction_count': [],
            'Transaction_amount': []}

for state in top_trans_list:
    cur_state = path5 + state + "/"
    top_year_list = os.listdir(cur_state)

    for year in top_year_list:
        cur_year = cur_state + year + "/"
        top_file_list = os.listdir(cur_year)

        for file in top_file_list:
            cur_file = cur_year + file
            data = open(cur_file, 'r')
            E = json.load(data)

            for i in E['data']['pincodes']:
                name = i['entityName']
                count = i['metric']['count']
                amount = i['metric']['amount']
                columns5['Pincode'].append(name)
                columns5['Transaction_count'].append(count)
                columns5['Transaction_amount'].append(amount)
                columns5['State'].append(state)
                columns5['Year'].append(year)
                columns5['Quarter'].append(int(file.strip('.json')))
df_top_trans = pd.DataFrame(columns5)

In [12]:
df_top_trans

,State,Year,Quarter,Pincode,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,744101,1622,2.769298e+06
1,andaman-&-nicobar-islands,2018,1,744103,1223,2.238042e+06
2,andaman-&-nicobar-islands,2018,1,744102,969,3.519060e+06
3,andaman-&-nicobar-islands,2018,1,744105,685,1.298561e+06
4,andaman-&-nicobar-islands,2018,1,744104,340,1.039715e+06
...,...,...,...,...,...,...
8919,west-bengal,2024,1,732125,4490229,7.014125e+09
8920,west-bengal,2024,1,700006,4358390,8.114395e+09
8921,west-bengal,2024,1,700001,4321119,8.497021e+09
8922,west-bengal,2024,1,732201,4265219,9.908795e+09
8923,west-bengal,2024,1,742202,3985791,8.428173e+09

## Dataframe of top users

In [13]:
path6 = "pulse-master/data/top/user/country/india/state/"
top_user_list = os.listdir(path6)
columns6 = {'State': [], 'Year': [], 'Quarter': [], 'Pincode': [],
            'RegisteredUsers': []}

for state in top_user_list:
    cur_state = path6 + state + "/"
    top_year_list = os.listdir(cur_state)

    for year in top_year_list:
        cur_year = cur_state + year + "/"
        top_file_list = os.listdir(cur_year)

        for file in top_file_list:
            cur_file = cur_year + file
            data = open(cur_file, 'r')
            F = json.load(data)

            for i in F['data']['pincodes']:
                name = i['name']
                registeredUsers = i['registeredUsers']
                columns6['Pincode'].append(name)
                columns6['RegisteredUsers'].append(registeredUsers)
                columns6['State'].append(state)
                columns6['Year'].append(year)
                columns6['Quarter'].append(int(file.strip('.json')))
df_top_user = pd.DataFrame(columns6)

In [14]:
df_top_user

                          State  Year  Quarter Pincode  RegisteredUsers
0     andaman-&-nicobar-islands  2018        1  744103             1608
1     andaman-&-nicobar-islands  2018        1  744101             1108
2     andaman-&-nicobar-islands  2018        1  744105             1075
3     andaman-&-nicobar-islands  2018        1  744102             1006
4     andaman-&-nicobar-islands  2018        1  744104              272
...                         ...   ...      ...     ...              ...
8920                west-bengal  2024        1  700015           131676
8921                west-bengal  2024        1  742304           127917
8922                west-bengal  2024        1  721101           127891
8923                west-bengal  2024        1  700150           123919
8924                west-bengal  2024        1  700091           122985

[8925 rows x 5 columns]

## Converting Dataframes to CSV files

In [15]:
df_agg_trans.to_csv('agg_trans.csv',index=False)
df_agg_user.to_csv('agg_user.csv',index=False)
df_map_trans.to_csv('map_trans.csv',index=False)
df_map_user.to_csv('map_user.csv',index=False)
df_top_trans.to_csv('top_trans.csv',index=False)
df_top_user.to_csv('top_user.csv',index=False)

# Creating connection with MySQL

### Connecting with SQL

In [16]:
mydb = sql.connect(host="localhost",
                   user="admin",
                   password="123",
                   database= "phonepe"
                  )
mycursor = mydb.cursor(buffered=True)

### Creating a new Database and tables

In [ ]:
# mycursor.execute("CREATE DATABASE phonepe_pulse")

### Creating agg_trans table

In [17]:
mycursor.execute("create table agg_trans (State varchar(100), Year int, Quarter int, Transaction_type varchar(100), Transaction_count int, Transaction_amount double)")

for i,row in df_agg_trans.iterrows():
    #here %S means string values
    sql = "INSERT INTO agg_trans VALUES (%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    # the connection is not auto committed by default, so we must commit to save our changes
    mydb.commit()

### Creating agg_user table

In [18]:
mycursor.execute("create table agg_user (State varchar(100), Year int, Quarter int, Brands varchar(100), Count int, Percentage double)")

for i,row in df_agg_user.iterrows():
    sql = "INSERT INTO agg_user VALUES (%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

### Creating map_trans table

In [19]:
mycursor.execute("create table map_trans (State varchar(100), Year int, Quarter int, District varchar(100), Count int, Amount double)")

for i,row in df_map_trans.iterrows():
    sql = "INSERT INTO map_trans VALUES (%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

### Creating map_user table

In [20]:
mycursor.execute("create table map_user (State varchar(100), Year int, Quarter int, District varchar(100), Registered_user int, App_opens int)")

for i,row in df_map_user.iterrows():
    sql = "INSERT INTO map_user VALUES (%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

### Creating top_trans table

In [21]:
mycursor.execute("create table top_trans (State varchar(100), Year int, Quarter int, Pincode int, Transaction_count int, Transaction_amount double)")

for i,row in df_top_trans.iterrows():
    sql = "INSERT INTO top_trans VALUES (%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

### Creating top_user table

In [22]:
mycursor.execute("create table top_user (State varchar(100), Year int, Quarter int, Pincode int, Registered_users int)")

for i,row in df_top_user.iterrows():
    sql = "INSERT INTO top_user VALUES (%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    mydb.commit()

### List of tables

In [23]:
mycursor.execute("show tables")
mycursor.fetchall()

[('agg_trans',),
 ('agg_user',),
 ('map_trans',),
 ('map_user',),
 ('top_trans',),
 ('top_user',)]